.content{
    justify-content: center;
    align-items: center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: repeat(2, 1fr);
    grid-auto-flow: row;
}
.adminItem h1{
    font-weight: 400;
}
.adminItem{
    background-color: var(--background-color);
    padding: 2em;
    border-radius: var(--border-radius);
    margin: 2em;
    height: 90%;
}
.adminItem input{
    padding: 0.5em;
    width: 100%;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--background-color-darker);
    font-size: 0.8em;
    margin: 0.5em 0;
    cursor: text;
    border: 1px solid var(--secondary-color);
}

/* select {
    border: 1px solid var(--secondary-color);
    background-color: #fff;
    color: var(--background-color-darker);
    appearance: none; 
} */

.adminSubmitButton{
    padding: 1em;
    width: 10%;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--background-color-darker);
    color: var(--text-color);
    cursor: pointer;
    width: fit-content;
}

.adminSubmitButton:hover{
    background-color: var(--secondary-color);
}

.adminItem select{
    padding: 0.5em;
    width: 100%;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--background-color-darker);
    font-size: 0.8em;
    margin: 0.5em 0;
    color: var(--text-color);
    cursor: pointer;
    border: 1px solid var(--secondary-color); /* Border style */
    color: white; /* Text color */
    appearance: none; /* Remove default arrow icon */
}
.optionPlaceholder{
    color: var(--text-color-dark);
}
