:root {
    --primary-color: #192F55;
    --secondary-color: #2D78DC;
    --accent-color: #63E3FF;
    --text-color: #FFF;
    --text-color-light: #B2B2B2;
    --text-color-dark: #2D456F;
    --text-color-yellow: #F5C61C;
    --background-color-darker: #131720;
    --background-color: #151F30;
    --top-bar-thickness: 100px;
    --sidebar-thickness: 200px;
    --outer-side-edge-thickness: 30px;
    --sidebar-icon-size: 50px;
    --border-radius: 36px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
    background-color: transparent;
}

body{
    background-color: var(--background-color);
}

.sidebar {
    position: absolute;
    height: 100%;
    width: 100%;
    width: var(--sidebar-thickness);
}

#cinemate_logo{
    height: calc(0.8 * var(--top-bar-thickness));
    margin-top: 2em;
    margin-left: calc(0.3 * (var(--sidebar-thickness)))
}


.sidebar ul {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.sidebar ul li {
    list-style-type: none;
    margin: 1rem auto;
    align-content: center;
}

.sidebar ul li a {
    text-decoration: none;
}


.sidebar ul li a img { /* Navbar icons */
    height: var(--sidebar-icon-size); 
}

.main-content {
	position: relative;
	display: flex;
	background-color: var(--background-color-darker);
	top: var(--top-bar-thickness);
	left: var(--sidebar-thickness);
	width: calc(100vw - var(--sidebar-thickness) - var(--outer-side-edge-thickness));
	padding: 2rem;
	border-radius: var(--border-radius);
    min-width: 50vw;
    align-items: center;
    justify-content: center;
    overflow: none;
}

.main-content *{
    background-color: transparent;
}

.sidebar-item{
    display: flex;
    align-items: center;
    width: calc(var(--sidebar-thickness) - 2em);
    padding: 1rem;
    border-radius: var(--border-radius);
    transition: 0.3s;
}

.sidebar-item:hover{
    background-color: var(--background-color-darker);
    outline: 2px solid white;
}

.user {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.user p {
    font-size: small;
    flex-direction: column;
    margin-right: 1em; /* Add margin to create space between p and image */
}
.userInfo {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0.5em;
    margin-right: var(--outer-side-edge-thickness);
    background-color: var(--background-color-darker);
    border-radius: var(--border-radius);
    padding: 1em;
    padding-bottom: 10em;
}
.userInfo img {
    height: calc(var(--top-bar-thickness) * 0.5);
}
.userInfo img:hover {
    scale: 105%;
}

#logout{
    text-decoration: none;
    color: var(--secondary-color);
}

#logout:hover{
    color: var(--accent-color);
}