:root {
    --primary-color: #192F55;
    --secondary-color: #2D78DC;
    --accent-color: #63E3FF;
    --text-color: #FFF;
    --text-color-light: #B2B2B2;
    --text-color-dark: #2D456F;
    --text-color-yellow: #F5C61C;
    --background-color-darker: #131720;
    --background-color: #151F30;
    --top-bar-thickness: 100px;
    --sidebar-thickness: 250px;
    --outer-side-edge-thickness: 30px;
    --sidebar-icon-size: 50px;
    --border-radius: 36px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
    background-color: transparent;
}

body{
    background-color: var(--background-color);
}

.sidebar {
    position: absolute;
    height: 100%;
    width: var(--sidebar-thickness);
}


.sidebar .top .logo {
    width: 100%;
    pointer-events: none;
    margin-bottom: 100px;
}

.sidebar .top .logo img { /* cinemate C */
    height: 80px;
    position: absolute;
    top: 30px;
    left: 40px;
}


.sidebar ul {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.sidebar ul li {
    list-style-type: none;
    margin: 1rem auto;
    align-content: center;
}

.sidebar ul li a {
    text-decoration: none;
}


.sidebar ul li a img { /* Navbar icons */
    height: var(--sidebar-icon-size); 
}

.main-content {
	position: relative;
	display: flex;
	background-color: var(--background-color-darker);
	top: var(--top-bar-thickness);
	left: var(--sidebar-thickness);
	width: calc(100vw - var(--sidebar-thickness) - var(--outer-side-edge-thickness));
	padding: 2rem;
	border-radius: var(--border-radius);
    min-width: 50vw;
}

.main-content *{
    background-color: transparent;
}

.sidebar-item{
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: var(--border-radius);
    transition: 0.3s;
}

.sidebar-item:hover{
    background-color: var(--background-color-darker);
}