:root {
    --primary-color: #192F55;
    --secondary-color: #2D78DC;
    --accent-color: #63E3FF;
    --text-color: #FFF;
    --background-color-darker: #131720;
    --background-color: #151F30
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
}

.user {
    display: flex;
    align-items: center;
}

.sidebar.active .user {
    display: flex;
    align-items: center;
}

.user p {
    color: var(--text-color);
    opacity: 1;
    margin-left: 1rem;
}

.user-img {
    width: 50px;
    border-radius: 100%;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
    background-color: var(--background-color);
    z-index: 1;
}

.sidebar.active~.main-content { /* adjust content to left of sidebar */
    left: 250px;
    width: calc(100% - 250px);
}

.sidebar.active {
    width: 250px;
}

.sidebar .top .logo {
    display: flex;
    width: 100%;
    align-items: center;
    pointer-events: none;
    margin-bottom: 100px;
}

.sidebar .top .logo img {
    height: 35px;
    position: absolute;
    top: 30px;
}

.sidebar p {
    opacity: 0;
}

.sidebar.active p {
    opacity: 1;
}

.sidebar .top .logo .cinemate-name{
    opacity: 0;
    transition: all 0.5s;
}

.sidebar.active .top .logo .cinemate-name{
    opacity: 1;
    transition: all 0.5s;
}
/* 
.sidebar ul {
    background-color: var(--background-color);
} */

.sidebar ul li {
    display: relative;
    align-items: center;
    list-style-type: none;
    margin: 1rem auto;
    line-height: 3rem;
}

.sidebar ul li a {
    display: flex;
    text-decoration: none;
    border-radius: 16px;
}

.sidebar ul li a:hover {
    background-color: var(--primary-color);
}

.sidebar ul li a img {
    align-items: center;
    height: 50px;
    transition: all 0.5s ease;
    filter: invert(1);
}

.sidebar.active ul li a img {
    align-items: center;
    justify-content: center;
}

.sidebar .nav-item {
    opacity: 0;
}

.sidebar.active .nav-item {
    opacity: 1;
}

.main-content {
    position: relative;
    background-color: var(--background-color-darker);
    min-height: 100vh;
    top: 80px;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
}


.main-content .center{
    display: flex;
    justify-content: center;
}